Service References/ProductosWS/Catalog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservice.ternium.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://webservice.ternium.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webservice.ternium.com.ar/">
      <s:element name="GetCatalog">
        <s:complexType />
      </s:element>
      <s:element name="GetCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCatalogResult" type="tns:Catalog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Catalog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="products" type="tns:ArrayOfProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="familyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="proId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descShape" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="packing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="minWeight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maxWeight" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="minBatch" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="module" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="customerItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sizeType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="thickness" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="thicknessUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="wide" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="wideUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="length" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="lengthUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalUseId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descFinalUse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descPacking" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="solderingMarkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descSolderingMark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descFamily" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descDegree" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shapeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="enabledFromDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="disabledFromDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerProductId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:GetCatalog" />
  </wsdl:message>
  <wsdl:message name="GetCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:GetCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="GetCatalogAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="CatalogSoap">
    <wsdl:operation name="GetCatalog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;A web service which to getting catalog.&lt;/b&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetCatalogSoapIn" />
      <wsdl:output message="tns:GetCatalogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalogSoap" type="tns:CatalogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalog">
      <soap:operation soapAction="https://webservice.ternium.com.ar/GetCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCatalogAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatalogSoap12" type="tns:CatalogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalog">
      <soap12:operation soapAction="https://webservice.ternium.com.ar/GetCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCatalogAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Catalog">
    <wsdl:port name="CatalogSoap" binding="tns:CatalogSoap">
      <soap:address location="https://webservice.ternium.com.ar/QAWeblink/WebService/Catalog/Catalog.asmx" />
    </wsdl:port>
    <wsdl:port name="CatalogSoap12" binding="tns:CatalogSoap12">
      <soap12:address location="https://webservice.ternium.com.ar/QAWeblink/WebService/Catalog/Catalog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>